<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <% if Settings.brand.show_footer_menu %>
        <ul class="nav col-md-5 justify-content-end">
          <li class="nav-item"><%= link_to _('Front Page'), root_path(locale: locale.to_s), class: 'nav-link px-2 text-muted' %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2 text-muted" href="#" id="resourcesDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= _('Resources') %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="resourcesDropdownMenuLink">
              <li class="dropdown-item">
                <%= link_to 'https://hub.docker.com/u/pglombardo', class: 'nav-link px-2 text-muted', target: '_blank' do %>
                  <%= _('Docker Containers') %>
                  <em class="bi bi-box-arrow-up-right ms-2"></em>
                <% end %>
              </li>
              <li class="dropdown-item"><%= link_to _('FAQ'), page_path('faq'), class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('JSON API'), apipie_apipie_path, class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('Key Generator'), page_path('generate_key'), class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item">
                <%= link_to 'https://github.com/pglombardo/PasswordPusher', class: 'nav-link px-2 text-muted', target: '_blank' do %>
                  <%= _('Source Code') %>
                  <em class="bi bi-box-arrow-up-right ms-2"></em>
                <% end %>
              </li>
              <li class="dropdown-item"><%= link_to _('Tools'), page_path('tools'), class: 'nav-link px-2 text-muted' %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-2 text-muted" href="#" id="aboutDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= _('About') %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdownMenuLink">
              <li class="dropdown-item"><%= link_to _('Overview'), page_path('about'), class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('Help Translate!'), page_path('translate'), class: 'nav-link px-2 text-muted' %></li>
              <li class="dropdown-item"><%= link_to _('Send Feedback'), new_feedback_path, class: 'nav-link px-2 text-muted' %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
    <div>
      <p class="fw-light fst-italic text-center" style="font-size: .9rem;">
      The information provided or shared by this website comes with no warranty of any kind, expressed or implied, regarding confidentiality, integrity, or availability. Under no circumstances will <a href="https://ivancarlos.com.br" target="_blank">Ivan Carlos Consultoria</a> be liable to you for any loss or damage of any kind incurred as a result of using the website. Visit <a href="https://pad.vg/privacy" target="_blank">pad.vg/privacy</a> to review our privacy policy. Recreated by <a href="https://pad.vg/ivancarlos" target="_blank">Ivan Carlos</a> for exclusive internal use.
      <br /><br />
      As informações fornecidas ou compartilhadas por esse site não possuem garantia de qualquer tipo, expressa ou implícita, quanto à confidencialidade, integridade ou disponibilidade. Em nenhuma circunstância <a href="https://ivancarlos.com.br" target="_blank">Ivan Carlos Consultoria</a> terá qualquer responsabilidade para com você por qualquer perda ou dano de qualquer tipo incorrido como resultado do uso do site. Acesse <a href="https://pad.vg/privacidade" target="_blank">pad.vg/privacidade</a> para consultar nossa política de privacidade. Recriado por <a href="https://pad.vg/ivancarlos" target="_blank">Ivan Carlos</a> para uso exclusivo e interno.
      <br /><br />
      La información proporcionada o compartida por este sitio no tiene garantía de ningún tipo, expresa o implícita, en cuanto a confidencialidad, integridad o disponibilidad. En ningún caso, <a href="https://ivancarlos.com.br" target="_blank">Ivan Carlos Consultoria</a> será responsable ante usted por cualquier pérdida o daño de cualquier tipo incurrido como resultado del uso del sitio. Visite <a href="https://pad.vg/privacidad" target="_blank">pad.vg/privacidad</a> para consultar nuestra política de privacidad. Recreado por <a href="https://pad.vg/ivancarlos" target="_blank">Ivan Carlos</a> para uso exclusivo e interno.
      </p>
    </div>
  </div>
</footer>
